<table id="table" class="table table-hover table-responsive table-sm">
    <thead>
        <tr>
            <th>HORA</th>
            <!-- <th>IP</th> -->
            <th><i class="fa fa-envelope text-warning"></i> MENSAJE</th>
        </tr>
    </thead>
    <tbody>
        {% for row in logs %}
        <tr data-tippy-content="{{row.ip}}" class="{% if 'log in by' in row.message %}table-success{% elseif 'logged out' in row.message %}table-danger{% else %}table-warning{% endif %}">
                <td>{{row.time|date('h:i')}}</td>
                
                <td><strong>{{row.user.username}}</strong>{{ row.message}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>