<form method="post" action="{{ path('investmenst_delete', {'id': investmenst.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ investmenst.id) }}">
    <button class="btn">Delete</button>
</form>
