{% extends 'base.html.twig' %}
{% form_theme form '@AdminLTE/layout/form-theme.html.twig' %}
{% block title %}New UserProfile{% endblock %}

{% block page_content_before %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <p class="card-text"><i class="fa fa-plus"></i> Adicionar perfil</p>
                </div>
                <div class="card-body">
                    {{ include('user_profile/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
