{% extends 'base.html.twig' %}
{% form_theme form '@AdminLTE/layout/form-theme.html.twig' %}
{% block title %}New User{% endblock %}

{% block page_content_before %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-text"><i class="fa fa-pencil"></i> editar usuario</p>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
            change();
            $('#user_macAddress').keyup(function (e) {
            var r = /([a-f0-9]{2})/i;
            var str = e.target.value.replace(/[^a-f0-9:]/ig, "");
            if (e.keyCode != 8 && r.test(str.slice(-2))) {
                str = str.concat(':')
            }
            e.target.value = str.slice(0, 17);
            });

            {% if mac_as_user_and_pass %}
                $('#user_plainPassword').attr('readonly', true);
                $('#user_macAddress').on('change', function(){
                    $('#user_plainPassword').val($(this).val())
                })
                $('#user_isLocal').on('change', function(){
                    change();
                })
        
            {% endif %}
            
        })
        function change(){
            if($('#user_isLocal').is(':checked')){
                        $('#user_plainPassword').attr('readonly', false);
                        $('#user_plainPassword').focus();
                    }else{
                     $('#user_plainPassword').attr('readonly', true);
                     $('#user_plainPassword').val($('#user_macAddress').val())
                    }
        }
    </script>
{% endblock %}